.theme-container.custom-page-class .language-example {
  border: 4px solid #3eaf7c;
}

.home .hero img {
  object-fit: scale-down;
}

.home .hero .external-link-icon {
  --external-link-icon-color: var(--c-bg);
}